*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Expletus Sans', cursive;

}
/*--------------------------------------------------navigation bar */

label.logo{
    flex: 1 1 auto;
    margin-left: 1%;
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}

nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
    height: 100px;
    width: 100%;
    background: #1b262c;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
}

nav ul {
    padding-right: 50px;
    padding-left: 50px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover {
    background: #d89454;
    color: #000000;
    transition: .5s;
    text-decoration: none;
}

.check-button {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/*--------------------------------------------------navigation bar */
/*--------------------------------------------------header */

header {
    background-image: url("../image/bg1.png");
    background-repeat: no-repeat;
    height: 500px;
    background-size: 100% 100%;
    position: relative;
    
}

/*--------------------------------------------------header */
/*--------------------------------------------------section index */

html {
    scroll-behavior: smooth;
}

.home-area, .about-area, .business-area, .careers-area, .contact-area {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 1000px;
}

.text-part {
    margin-top: 100px;
    width: 65%;
    height: 100%;
}

h1 {
    font-size: 50px;
    font-family: 'Expletus Sans', cursive;
}

p {
    font-size: 24x;
    font-family: 'Open Sans', sans-serif;
    line-height: 50px;
}

.about-area, .careers-area{
    background: #262626;
    color: white;
    padding: 10px;
}

.home-area, .business-area, .contact-area {
    background: #fefefe;
}



/*--------------------------------------------------section index */
/*--------------------------------------------------Footer */

footer {
    background: #1b262c;
    color: white;
    height: 300px;
    bottom: 0px;
    width: 100%;
}

.main-content .box {
    flex-basis: 50%;
    padding: 30px 20px;
}

.box h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 0 0 0;
}

.left .content p {
    font-size: 24x;
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
    text-align: justify;
}

.left .content .social {
    margin: 20px 0 0 0;
}

.left .content .social a span {
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
}

.left .content .social a span:hover {
    background: #d89454;
}




/*--------------------------------------------------Footer */
@media (max-width: 960px) {
    nav {
        position: fixed;
        padding-top: 10px;
        height: 10px;
        width: 100%;
        height: 90px;
    }
    label.logo{
        font-size: 25px;
        padding: 0 25px;
    }
    nav ul li a {
        font-size: 16px;
    }
    
}

@media (max-width: 858px) {
    .check-button {
        display: block;
    }

    ul {
        position: fixed;
        widows: 100%;
        height: 100vh;
        background: #1b262c;
        top: 80px;
        right: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover, a.active {
        background: #d89454;
        color: #000000;
    }

    #check:checked ~ ul {
        right: 0;
    }

    header {
        background-image: url("../image/bg1.png");
        background-repeat: no-repeat;
        height: 300px;
        background-size: cover;
        background-position: center;
    }

}